<header>
    <div id="menu">
        <div id="logo">Logo</div>
        <nav id="nav-menu">
            <ul id="menu-lnk">
                <li>
                    <a routerLink="/home" class="lnk-rota">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/cadastro" class="lnk-rota">
                        Cadastro
                    </a>
                </li>
                <li>
                    <a routerLink="/lista" class="lnk-rota">
                        Consulta
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>