@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: roboto ;
}

:root{
    --primaria: #5c7fca;
    --secundaria:#1D4ED8; 
    --cor-botao01: #ff6600; 
    --branca: #ffffff;
}

body{
    padding: 40px;
}
